asm
expected
__pycache__
.splat/
ctx.c
ctx.c.m2c
*.d
*_auto.ld
*.n64
*.z64
*.v64
*.u64
*.bin
*.otr
*.o2r
*.log
*.eeprom
assets/yaml/us/ast_test.yaml
/audio_data
src/assets/*
/build
build-new/
tools/mio0
tools/ido-recomp
debug/
.venv/
m2cfiles/
TempComp.bin.mio0
torch.hash.yml
cmake-build-*/
.idea/
.vs/
build*
logs/
/mods/
default.sav
imgui.ini
starrod.cfg.json
Starrod.log
*.sav
*.lib
*.pdb
dumps/
_packages/*
*.DS_Store
src/jp/
src/eu/
src/cn/

properties.h
mods*/%

ignored/
CMakeFiles/
ver/
logs.txt
.vscode
CLAUDE.md
.claude/

# Visual Studio
*.user
*.suo
out/
CMakeSettings.json
CMakeUserPresets.json